nvim/.config/nvim/lazy-lock.json
btop/.config/btop/btop.log
thefuck/.config/thefuck/__pycache__/settings.cpython-312.pyc
nushell/.config/nushell/history.txt
tmux/.config/tmux/plugins
yazi/.config/yazi/plugins
ghostty/.config/ghostty/windows
