nvim/.config/nvim/lazy-lock.json
btop/.config/btop/btop.log
tmux/.config/tmux/plugins
yazi/.config/yazi/plugins
ghostty/.config/ghostty/windows
.local/.local
ghostty/.config/ghostty/laptop
hyde/.cache/hyde/themepatcher
hyde/.cache/hyde
yazi/.config/yazi/package.toml
